body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #ff0000;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
	font-size: 36px;
}

h2 {
	font-size: 30px;
	margin-left: 20px;
}

p {
	font-size: 18px;
	margin-left: 20px;
}

.verticalLine {
	border-left: thick solid #ff0000;
}

main {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

