body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex-basis: 33.33%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.item img {
  width: 100%;
  height: auto;
}

.item h2 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.item p {
  margin-top: 10px;
  font-size: 1rem;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #F5F5F5;
}
/* Header */
header {
  background-color: #ff0000;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
header h1{
  color: #ffff;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #1E90FF;
}

/* Main Section (Inventory, Collision, About, Contact Page) */
main {
  padding: 20px;
  margin-top: 80px;
}
