* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	}
	body {
	font-family: Arial, sans-serif;
	}
	
	header {
	background-color: #ff0000;
	color: #fff;
	padding: 20px;
	}
	
	h1 {
	margin: 0;
	font-size: 36px;
	}
	
	main {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	}
	
	.inventory {
	flex-basis: 30%;
	margin-bottom: 20px;
	}
	img {
	  max-width: 100%;
	  height: auto;
	  margin-bottom: 20px;
	}
	
	@media (max-width:
	  
